<nav>
  <div class="logo"></div>
</nav>
<div class="mobile-screen">
  <div class="header">
    <h1>Login</h1>
  </div>

  <form id="registration-form">
    <input class="required" type="name" name="name" placeholder="First Name">
    <select class="required">
         <option value="" disabled selected>Age Range</option>
         <option value="1">18-24</option>
         <option value="2">25-34</option>
         <option value="3">35-44</option>
         <option value="4">45-54</option>
         <option value="5">55-64</option>
         <option value="6">65-74</option>
       </select>
    <select class="required">
          <option value="" disabled selected>Gender</option>
          <option value="1">Female</option>
          <option value="2">Male</option>
    </select>
    <input class="required" type="email" name="email" placeholder="Email">
    <input class="required" type="password" name="pass" placeholder="Password">
    <input class="required" type="password" name="repass" placeholder="Repeat password">
    <div class="login-btn" id="signup-btn"><%= link_to "Sign Up", kohorts_path %></div>

  </form>

  <form id="login-form">
    <input type="email" class="required" name="email" placeholder="Email">
    <input type="password" class="required" name="pass" placeholder="Password">
    <div class="login-btn"><%= link_to "Sign In", kohorts_path %></div>
  </form>

  <form id="fpass-form">
    <input type="text" class="required" name="forgotten" placeholder="Email or phone number">
    <a href="#" class="login-btn" id="getpass-btn">Get Password</a>
  </form>

  <div class="other-options">
    <div class="option" id="newUser"><p class="option-text">New User</p></div>
    <div class="option" id="fPass"><p class="option-text"> Forgot password</p></div>
  </div>

</div>
<footer>&copy 2016 truthy-ruthy</footer>
