<h1>kohort</h1>
<!-- <p>main page</p> -->
<div class="mobile-screen">
  <div class="header">
    <h1>Login</h1>
  </div>

  <div class="logo"></div>

  <form action="" method="post" id="login-form">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="pass" placeholder="Password">
    <button class="login-btn"><%= link_to "Sign Up", register_path %></button>
  </form>

<div class="other-options">
<!--
    <div class="option" id="newUser"><a href='/user/register'><p class="option-text">Sign Up</p></a></div> -->

<div class="option" id="newUser"><p class="option-text"><%= link_to "Sign Up", register_path %></p></div>

<div class="option" id="fPass"><p class="option-text"> Forgot Password</p></div>
  </div>
</div>
