<h1>New Account</h1>

<div class="mobile-screen">
  <div class="header">
    <h1>Register</h1>
  </div>

  <div class="logo"></div>
<form action="/user/register" method="post" id="registration-form">
  <input required type="first_name" name="first_name" placeholder="first_name">
  <select required>
       <option value="" disabled selected>Age Range</option>
       <option value="1">18-24</option>
       <option value="2">25-34</option>
       <option value="3">35-44</option>
       <option value="4">45-54</option>
       <option value="5">55-64</option>
       <option value="6">65-74</option>
     </select>
     <input required type="email" name="email" placeholder="Email">
     <input required type="password" name="pass" placeholder="Password">
  <input required type="password" name="repass" placeholder="Repeat password">
  <a href="kohort/my_kohorts" class= "login-btn" id="signup-btn">Sign Up</a>
</form>
