<div class="mobile-screen">
  <div class="header">
    <h1>Kohort with name, name and name</h1>
  </div>

  <div class="k-mates">
    <div class="">kmate
    </div>
    <div class="">kmate
    </div>
    <div class="">kmate
    </div>
  </div>

<footer>
    <div class="other-option">
      <div class="login-btn"><%= link_to "leave kohort", leave_path %></div>
    </div>
  </div>
</footer>

<!-- <div class="mobile-screen">
  <div class="header">
    <h1>Kohort Chat</h1>
  </div>

  </div> -->
