<div class="mobile-screen">
  <div class="header">
    <h1>My Kohorts</h1>
  </div>
  <div class="">
    <div class="">
      <button type="button" name="button"><%= link_to "kohort with name, name & name", kohort_path %></button>
      <button type="button" name="button">kohort</button>
      <button type="button" name="button">kohort</button>
    </div>
  </div>



    <div class="other-option">
      <div class="login-btn"><%= link_to "join a kohort", join_path %></div>
    </div>

    <%= link_to "Log out", logout_path, method: :delete %>

  </div>
