$greenMain: rgba(34,43,34,.85);
$darkGreen:rgba(34,43,34,.9);
$ginger: #a23f20;
$green: rgba(142,186,95, .5);
$ltgreen: #cbd179;
$yellowgreen: #e0e296;

$state-danger-text: red;

body, html {
  background: url(http://i.imgur.com/8Chj4ZV.jpg?1) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // box-shadow: 2px 2px 10px #999;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

::selection {
  background: $green;
  color: $darkGreen;
}
::-moz-selection {
  background: $darkGreen;
  color: $ginger;
}

.mobile-screen{
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 650px;
  height: 400px;
  padding:15px;
  background: $greenMain;
  font-weight: bold;
  // overflow: hidden;
}

.left-panel{
  float: left;
  width: 325px;
  height: 400px;

}

.right-panel{
  float: right;
  width: 325px;
  height: 400px;


}

// .header{
//   position: relative;
//   margin: 0;
//   padding: 0;
//   width: 100%;
//   height: auto;
//   background: rgba(3,3,3,.1);
// }

.left-header{
  position: relative;
  padding: 15px;
  width: auto;
  height: auto;
  text-align: center;
  // background: $darkGreen;
}

.right-header{
  position: relative;
  padding: 15px;
  width: auto;
  height: auto;
  text-align: center;
  // background: $darkGreen;
}

h1{
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-weight: 300;
  font-size: 21px;
  color: $yellowgreen;
}

.logo{
  position: relative;
  top: 10px;
  width: 75px;
  height: 75px;
  margin: auto;
  margin-bottom: 20px;
  background: url(http://i.imgur.com/4F2rQVA.gif) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.why{
  background: $darkGreen;
  padding: 5px;
  margin: 25px;
  color: $ginger;
  width: 250px;
  display: inline-block;
  text-align: center;
}

#newUser{
  background: $green;
  width: 150px;
  margin-left: 50px;
  margin-right: 50px;
}

form{
  position: absolute;
  margin: 10px;
  height: 300px;
  margin-left: 60px;
  width: 225px;
}

input,
.login-btn{
  font-family: 'Open Sans', sans-serif;
  position: relative;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 35px;
  padding: 10px;
  width: 200px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input{
  border: none;
  border-left: 5px solid;
  border-right: 5px solid;
  background: none;
  border-color: $green;
  color: #f4e6b5;
  font-weight: 300;
  font-size: 18px;
  padding: 5px;
  margin-top: 40px;
  margin: 5px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

input:focus{
  outline: 0;
  background: rgba(106, 143, 78, .2);
  border-radius: 20px;
  border-color: transparent;
}

a{
  text-decoration: none;
}

.login-btn{
  border-radius: 4px;
  margin-left: 5px;
  text-align: center;
  background: rgb(106, 143, 78);
  color: #f4e6b5;
}

.other-options{
  position: absolute;
  width: 600px;

}

.option{
  position: relative;
  display: inline;
  width: 200px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: $greenMain;
  border-bottom: 2px solid $green;
  cursor: pointer;
}

.option:first-child{
  float: left;
  left: 3.3%;
}

.option:last-child{
  margin-right: 3.3%;
}

.option-text{
  position: relative;
  margin: 0;
  line-height: 30px;
  color: $yellowgreen;
  text-align: center;
  font-size: 16px;
  font-weight: 100;
}

// #fpass-form,
#leaveConfirm,
#registration-form{
  display: none;
}

/* Change colors container */
.change-colors-container{
  position: absolute;
  height: 300px;
  width: 50px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: $green;
}

.k-mates {
  color: $darkGreen;
  background: $ginger;
  width: 100px;
  padding: 5px;
  margin: 10px;
  font-color: $darkGreen;

}


.leave {
  color: $green;
  font-size: 14px;
}

.leaveWarning {
  background: $green;
  width: 50px;
  padding: 5px;
  margin: 100px;
  margin-left: 10px;
  margin-top: 275px;
}

.select {
  align-content: center;
}


footer {
  position: sticky;
  text-align: center;
  color: $ltgreen;
  font-size: 9px;
  margin-top: 10px;
  margin-right: 15px;
}

.logout {
  width: 65px;
  height: 20px;
  text-align: center;
  color: ltgreen;
  font-size: 10px;
  padding: 2px;
  margin-top: 260px;
}

.warning {
  border: solid red 2px;
  padding: 2px;
  margin-top: 20px;
  text-align: center;
  color:  white;
}

// # error colors- fix- currently in bootstrap
#error_explanation {
  color: red;
  ul {
    color: red;
    font-size: 20px;
  }
}

.field_with_errors {
  @extend .has-error !optional;
  .form-control {
     color: $state-danger-text;
     font-size: 20px;
  }
}

//select tag styling


$select-width: 220px;
$select-height: 40px;

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 12px;
  color: $ltgreen;
  width: $select-width;
  height: $select-height;
}
.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $ginger;
  padding: 8px 8px;
  &:after {
    content:"";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: $ltgreen transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
  }
  &:hover {
    background-color: darken($ginger, 2);
  }
  &:active, &.active {
    background-color: darken($ginger, 5);
    &:after {
      top: 9px;
      border-color: transparent transparent $ltgreen transparent;
    }
  }
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding-left: 1.5em;
  text-indent:-1.5em;
  padding-right: 1.5em;
  list-style: none;
  background-color: darken($ginger, 5);
  li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid darken($ginger, 10);
    &:hover {
      color: $ginger;
      background: $ltgreen;
    }
    &[rel="hide"] {
      display: none;
    }
  }
}
