

body, html {
  background: url(http://i.imgur.com/8Chj4ZV.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // box-shadow: 2px 2px 10px #999;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

::selection {
  background: rgba(106, 143, 78, .5);
  color: #333;
}
::-moz-selection {
  background: rgba(0,0,0,.5);
  color: red;
}
//
//  nav{
//   background: url(http://i.imgur.com/4F2rQVA.gif) no-repeat center;
//   background-size: 10%;
//   color: #3e2f12;
//   font-weight: bold;
//   padding: 15px;
// }



.mobile-screen{
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 650px;
  height: 400px;
  background: rgba(60, 46, 38, 0.85);
  overflow: hidden;
}

.left-panel{
  margin-right: 375px;
  width: 200px;

}

.right-panel{
  margin-left: 380px;
  width: 200px;
}

.header{
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background: rgba(3,3,3,.1);
}

h1{
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-weight: 300;
  font-size: 21px;
  color: rgb(255,255,255);
}

.logo{
  position: relative;
  top: 10px;
  width: 75px;
  height: 75px;
  margin: auto;
  margin-bottom: 20px;
  background: url(http://i.imgur.com/4F2rQVA.gif) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

form{
  position: absolute;
  bottom: 50px;
  width: 200px;
}

input,
.login-btn{
  font-family: 'Open Sans', sans-serif;
  position: relative;
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 200px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input{
  border: none;
  border-left: 5px solid;
  border-right: 5px solid;
  background: none;
  border-color: rgb(106, 143, 78);
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  padding: 5px;
  margin-top: 40px;
  margin: 5px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

input:focus{
  outline: 0;
  background: rgba(106, 143, 78, .2);
  border-radius: 20px;
  border-color: transparent;
}

a{
  text-decoration: none;
}

.login-btn{
  border-radius: 4px;
  text-align: center;
  background: rgb(106, 143, 78);
  color: #fff;
}

.other-options{
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 2px;
  left: 0;
}

.option{
  position: relative;
  display: block;
  float: right;
  width: 45%;
  margin: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: rgba(0,0,0,.2);
  border-bottom: 2px solid  rgb(106, 143, 78);
  cursor: pointer;
}

.option:first-child{
  float: left;
  left: 3.3%;
}

.option:last-child{
  margin-right: 3.3%;
}

.option-text{
  position: relative;
  margin: 0;
  line-height: 30px;
  color: #ccc;
  text-align: center;
  font-size: 12px;
  font-weight: 100;
}

#fpass-form,

#registration-form{
  display: none;
  height: 300px;
  margin-top: 40px
}

/* Change colors container */
.change-colors-container{
  position: absolute;
  height: 300px;
  width: 50px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: rgba(106, 143, 78, .5);
}

.k-mates {
  color: rgb(120, 163, 221);
}

.leave {
  color: rgb(120, 163, 221);
}

.select {
  align-content: center;
}


footer {
  position: bottom-right;
  color: rgb(190, 199, 210);
  font-size: 10px;
}
